name: Call a reusable workflow

on:
  pull_request:
    branches:
      - main

jobs:
  call-workflow:
    uses: luciocarvalhojr/tm-workflow/.github/workflows/deploy-ssm.yml@main
    with:
      config-path: .github/labeler.yml
    secrets:
      token: ${{ secrets.MY_SECRET }}
